.zero {
  background-color: #eaf6f6;
  padding-top: 75px;
}

h1 {
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  color: #66BFBF;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

body {
  margin: 0px;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #40514e;
}

.underline {
  text-decoration: underline;
}

.top-cloud {
  position: relative;
  left: 200px;
}

.bottom-cloud {
  position: absolute;
  left: 420px;
}

.middle-container {}

.bottom-container {
  background-color: #66bfbf;
  margin-top: 40px;
  padding-top: 30px;
  padding-bottom: 20px;
}

.skill-row {
  width: 40%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.worker {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.computer {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.boy {
  width: 8%;
}
.first-p{
color: #40514e;
margin-bottom: 30px;
}
.line{
  width: 10%;
    border-style: none;
    border-top-style: dotted;
    width: 5%;
    border-width: 5px;
    border-color: #eaf6f6;
  }
.footer-link{
  margin: 10px;
  color: #11999E;
  font-style: italic;
  text-decoration: none;
}
.name{
  color: #eaf6f6;
}


.btn {
	-moz-box-shadow: 0px 10px 14px -7px #276873;
	-webkit-box-shadow: 0px 10px 14px -7px #276873;
	box-shadow: 0px 10px 14px -7px #276873;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #599bb3), color-stop(1, #408c99) );
	background:-moz-linear-gradient( center top, #599bb3 5%, #408c99 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#599bb3', endColorstr='#408c99');
	background-color:#599bb3;
	-webkit-border-top-left-radius:8px;
	-moz-border-radius-topleft:8px;
	border-top-left-radius:8px;
	-webkit-border-top-right-radius:8px;
	-moz-border-radius-topright:8px;
	border-top-right-radius:8px;
	-webkit-border-bottom-right-radius:8px;
	-moz-border-radius-bottomright:8px;
	border-bottom-right-radius:8px;
	-webkit-border-bottom-left-radius:8px;
	-moz-border-radius-bottomleft:8px;
	border-bottom-left-radius:8px;
text-indent:0;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
height:50px;
	line-height:50px;
width:140px;
	text-decoration:none;
	text-align:center;
	text-shadow:0px 1px 0px #3d768a;
}.classname:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #408c99), color-stop(1, #599bb3) );
	background:-moz-linear-gradient( center top, #408c99 5%, #599bb3 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#408c99', endColorstr='#599bb3');
	background-color:#408c99;
}.classname:active {
	position:relative;
	top:1px;
}
.online{

color: #11999E;

}
.jaw{
  display: inline;
}
.last-div{
float: right;
  width: 300px;
}
